@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

.profile-mode .profile img {
  border-radius: 12px !important;
}

.cursor {
  display: none !important;
}
